/* CSS untuk detail.php */
.navbar>.container {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    background-color: #261C0F;
}

/* Ganti warna latar belakang navbar */
.custom-bg {
    background-color: #261C0F;
    /* Tambahkan properti lain sesuai kebutuhan */
}

/* Mengubah warna teks pada navbar */
.navbar-nav .nav-link {
    color: #D9D9D9; /* Ganti dengan warna teks yang Anda inginkan */
}

.navbar-brand {
    color: #fff; /* Warna teks untuk brand/link utama */
    margin: 0; 
}


body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

h1 {
    background-color: #594F43;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    margin: 0;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h2 {
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 10px;
    text-align: left;
}

a {
    text-decoration: none;
    color: #007BFF;
}

a:hover {
    text-decoration: underline;
}

form {
    margin-top: 20px;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

